# Runtime
NODE_ENV=development
LOG_LEVEL=info

# Momento Topics
MOMENTO_API_KEY=
MOMENTO_CACHE_NAME=oncall-agent
MOMENTO_TOPIC_NAME=incidents

# Teleport
TELEPORT_PROXY=
TELEPORT_CLUSTER=
TELEPORT_AUDIENCE=oncall-agent

# AWS
AWS_REGION=us-east-1

# GitHub
GITHUB_OWNER=allenheltondev
GITHUB_REPO=oncall-agent
